header{
    height: 3rem;
    display: flex;
    align-items: center;
}
main{
    height: calc(100% - 3rem);
}
.text-input{
    height: 5rem;
}
.info{
    height: 2rem;
}
.content{
    height: calc(100% - 2rem - 5rem);
    overflow: auto;
}
.content div{
    min-height: 5rem;
    font-size: 25px;
    background-color: lightblue;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
}